* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: rgb(202, 201, 105);
}

h1 {
    font-size: 1.5rem;
    color: black;
}

h2 {
    font-size: 1rem;
    text-align: left;
    border-bottom: 2px solid black;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
}

header,
footer {
    text-align: center;
    background-color: #ff9900;

}

header img {
    width: auto;
    height: auto;
    border: 1px solid #b0b015;
}

header {
    padding: 20px;
}



/*header {
    font-family: 'Source Serif Pro', serif;
    background-color: #5BBA93;
    color: #000000;
    text-align: center;
    padding: 1rem;

}
h1 { 
    color: #5BBA93;
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    text-decoration-line: underline
    font-size: 1rem;
}
.kimpic {
    margin-top: -150px;
}



Section {
    margin-top: -150px;
}

header,
nav,
main,
footer,
body {
    margin: 2rem auto;
    max-width: 760px;
}

img {
    margin-left: 550px;
    margin-top: 50px;
    border: 1px solid #000000;
    border-radius: 25px;
}

footer {
    background-color: #5BBA93;
    color: #000000;
    text-align: center;
}