/* Tabletf Views*/
@media only screen and (min-width: 37.5em) {
    header h1 {
        font-size: 2.0rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(2) {
        display: block;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
}