* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: black;
}

h1 {
    font-size: 1.5rem;
    color: black;
}

h2 {
    font-size: 1rem;
    text-align: left;
    border-bottom: 2px solid black;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
}

header,
footer {
    text-align: center;
    background-color: #eaa30a;

}

header img {
    width: auto;
    height: auto;
    border: 1px solid #000000;
}

header {
    padding: 20px;
}
