header, footer{
    font-family: sans-serif;
    color: white;
    text-align: center;
    background: #ccff99;
    max-width: 700px;
    margin: 1.25rem auto;
    padding: .5rem;
}
header {
    font-size: 20px;
}
footer {
    font-size: 15px;
}
main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
}
img {
    width: 89px;
    height: 87px;
    float: right;
}
h2 
{
    border-bottom-style: solid;
    margin-bottom: 10px;
}
li {
    font-size: 15px;
    font-family: sans-serif;
}

#b{
    text-decoration: underline;
    color: white;
}
* {margin: 0; box-sizing: border-box; }
