@media only screen and (min-width: 60em) {
    .navigation li:first-child {
        display: none;
    }
    .navigation a:hover {
        color: whitesmoke;
        background-color: #D7263D;
        font-weight: 700;
    }
    /*header,nav,main,footer {max-width: 1024px;}*/
}