@media only screen and (min-width: 32.5em)
{
	header img {
	width: 80px;
	height: auto;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}



	
	nav button {display: none;}
	nav ul {
		margin-left: 2%;
	}
	nav ul li {
		float: left;
	}

	nav ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.3);
		padding: .6rem 1rem;
	}
	nav ul.hide {display: block;
	flex: 1 1 100%;}

	.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
}