body {
    font-family: Ubuntu, sans-serif;
    width: 350px;
    margin: 30px;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.mediumBackground {
    background-color: #7fb9c2;
}

table,
th,
td {
    border: 1px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%; 
    box-shadow: 10px 10px 15px #628ca6; 
  }

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #628ca6;
    color: white;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}

tfoot {
    font-size: .6rem;
    padding: 6px;
    margin: 0;
}
