@media only screen and (min-width: 60em) {
    header img {
        width: 100%;
    }

    main, footer {
        max-width: 900px;
    }
    
    .wsummary {
        font-size: 1vw;
    }

    .article img {
        width: 80%
    }

}
