body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

header,
nav,
main,
footer {

    max-width: 760px;
    margin: 0 auto;

}

nav {
    font-size: .75em;
    background-color: lightgray;
    color: black;
    text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

header, footer {
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
}

header {
    line-height: .5;
}

a:link {
    color: royalblue;
}

a:visited {
    color: maroon;
}

a:hover {
    color: white;
}

a:active {
    color: blueviolet;  
}

a.school:link {
    color: burlywood;
}

a.school:visited {
    color: bisque;
}

a.school:hover {
    color: seagreen}

a.school:active {
    color: beige;
}


img {
    max-width: 100%;
    height: auto;
    float: left;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Trirong', serif;
    line-height:100%;

}

h2 {
    font-size: 1.75em;
    font-family: 'Poppins', sans-serif;

}
h3 {
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: black;

}
h4, h5 {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem;
    color: black;
}

h1.header {
    background-color: #0059b3;
    color: slategray;
}

h1.weather, h2.weather, h3.weather {
    color: darksalmon;
}

h4.weather, h5.weather {
    background-color: lightsteelblue;
    color: darkslateblue;
}

p.weather {
    color: darkslateblue;
}

