html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust:100%;}
*{-moz-box-sizing: border-box;-webkit-box-sizing:border-box; box-sizing: border-box;}

/* Banner */

#message {
    display: block;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: .5em;
    background-color: #19507c;
}

/* Header */

header {
  padding: 5px 5px;
  display: flex;
  align-items:center;
  justify-content:center;
}

header img {
  width: 80px;
  height: auto;
}


.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  color: #000;
  font-size: 1.6rem;
  margin: 0 0 0 17px;
}

.m {
  font-style: italic;
  letter-spacing: 1pt;
  color: #000;
  margin-left: 10px;
  font-size: .7em;
}

/* Body*/

body {
  background-image: url('../../lesson6/images/background.svg') ;
    background-size:cover;
        background-position: center;
   
  padding: 0;
  margin: 0;
}

/*Navigation*/
nav {
  margin: 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: black;
}

.navigation {
  list-style: none;
  text-align: left;
  padding: 0;
}
 li:first-child {
  display: block;
}
 li {
  display: none;
}
 a {
  display: block;
  color: #fff;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.navigation a:hover {
  color: black;
  background-color: #fff;
  font-weight: 700;
}

.active {
  color: white;
  background-color:#394f78;
  font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
<ul class="navigation responsive">
*/
.responsive li {
  display: block;
}


/* Main*/

main {
  max-width: 45rem;
  margin: 0 auto;
  padding: .75rem;
  font-family: 'Noto Sans TC', sans-serif;
  color: black;
}
h2 {
  margin-left: 10px;
  margin-top: -10px;
  color: #000;
}

main div {
  border: 1px solid #26312b;
  border-radius: 10px 10px 10px 10px;
  padding: 1rem;
  margin: 10px;
  background-color: #ffa500;
}
main div img {
  width: 100%;
}

main div:nth-child(2) img {
  width: 100%;
}

/* Main Div 1*/
figure
{
  padding: 0px;
  margin: 0px;
}
figure, figure img{
  position: relative;
  text-align: center;
}

input {
  text-align: center;
}

.top-left {
  position: absolute;
  top: 16px;
  left: 8px;
  background-color:#19507c;
  opacity: 0.75;
  color: white;
  max-width: 80%;
}

.top-left p:first-child{
  text-decoration: underline;
}


/* Main Div 2*/
main div:nth-child(5){
  display: flex;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
  background-color: white;
}
th, td {
padding: 10px;
}
table, tr, td img{
width: 500px;
height: auto;
}


/* Main Article 3*/
.article h2{
color: black;
margin: 1em auto;
}
.article p img{
  float: right;
  width: 50%;
  margin-left:15px;
}

.article p{
  line-height: 1.5em;
}


/* Main Div 4*/

.contact h2{
  margin: auto;
  color: #3c2727;
  text-align: center;
  margin: .5em 5em;
}
.contact  {

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 1rem;
  text-align: center;
  padding: 4px;
}

.contact section:first-child{
width: 60%;

}

.contact section:nth-child(2) p{
margin:0 1em;
font-size: 1em;
}

section p{
line-height: 1.5em;
}


.material-icons{
  position: relative;
  top: 4px;
  left: 2px;
}
p{
  line-height: .25em;
}

section {
  margin: 0px;
  padding: 1em;
}


/* Footer */

footer {
margin: 0 auto;
background-color:black;
color: white;
padding: .15rem;
text-align: center;
justify-content:center;
font-size: 14px;
font-family: 'Noto Sans TC', sans-serif;
}

ul.social {
    display: block;
    list-style-type: disc;
   
    padding:0 0 0 10px;
}
.social li{
    display: inline-flex;
    margin-right: 3px;
}

.social a {
    padding: 0;
  
}

/* For Small Screen*/

@media only screen and (min-width: 32.5em) {
.navigation {
display: flex;
}
.navigation li:first-child {
display: none;
}
.navigation li {
display: block;
flex: 1 1 10%;
}
.navigation li a {
color: #fff;
}

}

@media screen and (max-width: 32.5em)
{
main div:nth-child(3) 
{
display: none;
}

.top-left 
{
font-size: 2vw;

 top: 6px;
 left: 8px;
}


.contact section:first-child
{
	display: none;
}
.contact section:nth-child(2){
	margin:auto;
font-size: 15px;
}

.article p img{
	float: none;
	width: 100%;
	margin: auto;
}
#message {
    display: block;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: .5em;
    background-color: #19507c;
}

}

