
section {
    border: 1px solid rgb(231, 231, 231);
    margin: 10px;
    padding: 25px;
    background-color: rgb(250, 233, 210);
}
div.cards {
    display: block;
    background-color: white;
    box-shadow: 0 0 15px #00264d;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    margin: 0 10px 50px 10px;
}


h1 {
    font-weight: bold;
    font-family: 'Trirong', serif;
    text-align: center;
    margin: 0;
    padding: 25px;
    color: rgb(75, 49, 0);
}

h2 {
    font-family: 'Trirong', serif;
    text-align: center;
    padding: 5px 0 10px 0;
    margin: 0;
    color: rgb(110, 73, 5);
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 2px 0 2px 0;
    color: rgb(75, 49, 0);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px #00264d;
    margin-bottom: 5px;
    margin-top: 20px;
    max-width: 280px;

}

footer {
    text-align: center;
    color: rgb(114, 74, 1);
}

@media only screen and (min-width: 749px) {
    div.cards {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        max-width: 767px;
    }
}

@media only screen and (min-width: 768px) {
 
    div.cards {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1475px;
    }
}
